host database {
                hardware ethernet 5e:51:68:d6:6a:69;
                fixed-address 10.188.1.27;
                option host-name "database";}
host build {
                hardware ethernet FA:A7:98:D8:9E:87;
                fixed-address 10.188.1.30;
                option host-name "build";}
host stefan {
                hardware ethernet bc:ae:c5:36:83:28;
                fixed-address 10.188.1.155;
                option host-name "stefan1";}
