host build {
                hardware ethernet 6A:38:05:6E:DF:5C;
                fixed-address 10.188.1.30;
                option host-name "build";}
host update2 {
                hardware ethernet 00:19:99:5f:b1:b6;
                fixed-address 10.188.1.23;
                option host-name "update2";}
host update1 {
                hardware ethernet c6:8b:87:a0:19:b8;
                fixed-address 10.188.1.22;
                option host-name "update1";}
